<div id="<%= dom_id publication %>">
  <p>
    <strong>Título:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Red Social:</strong>
    <%= publication.route %>
  </p>
</div>
